<br><br>
        <!-- <div class="container"> -->
<!-- <button class="btn btn-primary" routerLink="/login">Login</button> -->
        <!-- <button id="navHome" class="btn btn-primary" routerLink="/home">Home</button> -->
<!-- <button id="navSymptoms" class="btn btn-primary" routerLink="/symptoms">Symptoms</button> -->
<!-- <button class="btn btn-primary" routerLink="/body-symptoms">Body Symptoms</button> -->
        <!-- <button id="navBody" class="btn btn-primary" routerLink="/body-locations">Body Locations</button> -->
<!-- <button class="btn btn-primary" routerLink="/body-location">Sublocations</button> -->
<!-- <button id="navIssues" class="btn btn-primary" routerLink="/issues">Issues</button> -->
<!-- <button id="navIssue" class="btn btn-primary" routerLink="/issue">Issue</button> -->
<!-- <button id="navPropos" class="btn btn-primary" routerLink="/proposed-symptoms">Proposed Symptoms</button> -->
        <!-- <button id="navSpec" class="btn btn-primary" routerLink="/specialisations">Specialisations</button> -->
<!-- <button id="navDiagnosis" class="btn btn-primary" routerLink="/diagnosis">Diagnosis</button> -->

<div class="container">
        <form action="home" method="post">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <a class="navbar-brand" href="#">Salutem</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                      <ul class="navbar-nav">
                        <li class="nav-item active">
                          <a class="nav-link" href="home">Home</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="body-locations">Body Locations</a>
                        </li>
                         <li class="nav-item">
                          <a class="nav-link" href="review">Review</a>
                        </li>
                         <li class="nav-item">
                          <a class="nav-link" href="specialisations">Specialisations</a>
                        </li>
                         <li class="nav-item">
                            <button id="navLogout" class="btn btn-primary" routerLink="/login" (click)="logout()">Logout</button>
                        </li>
                      </ul>
                    </div>
                  </nav>
            </form>
        </div><br><br>
         <!-- <button id="navLogout" class="btn btn-primary" routerLink="/login" (click)="logout()">Logout</button> -->
        <!-- </div> -->


