<app-nav></app-nav>
<br><br><br>
<div class="container">

  <h4>Here is a rundown of some of the issues you may be having...</h4>
    <div class="jumbotron" id="diagnosis">

      <!-- <input class="form-control" placeholder="i.e. 9,10,11" type="text" id="GetDiagnosisSymptomIDs" name="GetDiagnosisSymptomIDs"
        value="147,15623"> -->

        id: <input type="text" [(ngModel)]="id" name="id">
        gender: <input type="string" [(ngModel)]="gender" name="gender">
        age: <input type="number" [(ngModel)]="age" name="age"> 

        <div id="row"> 
          <div id="col">
            <button id="myButton" class="btn btn-success" (click)="getDiagnoses()">Get diagnoses!</button>
          </div>
          <div id="col">
            <button id="saveButton" class="btn btn-danger" (click)="saveDiagnosis()">Save diagnoses</button>
          </div>
        </div>

      <div *ngIf="isClicked">
        <div *ngFor='let diagnose of diagnoses'>
          <br>
          <p>Issue Id: {{diagnose.Issue.ID}}<p>
          <p>Issue Name: {{diagnose.Issue.Name}}</p>
          <p>Issue Accuracy: {{diagnose.Issue.Accuracy}}<p>
          <p>Issue Icd: {{diagnose.Issue.Icd}}</p>
          <p>Issue IcdName: {{diagnose.Issue.IcdName}}<p>
          <p>Issue Professional Name: {{diagnose.Issue.ProfName}}</p>
          <p>Issue Ranking: {{diagnose.Issue.Ranking}}</p>
          <div *ngFor='let i of diagnose.Specialisation'>
            <p>Spec Id: {{i.ID}}<p>
            <p>Spec Name: {{i.Name}}</p>
            <p>SpecialistID: {{i.SpecialistID}}<p>
        </div>
      </div>
    </div>

    </div>
</div>
